@use "../utils/_main" as utils
    
.header
    display: flex
    padding: 1.4rem 0

    &__logo
        width: 20rem
        flex-shrink: 0

    &__navbar
        flex-grow: 1
        display: flex
        justify-content: flex-end
        align-items: center
        margin-right: 5.5rem

    &__main-pages
        display: flex
        column-gap: 3rem
        text-transform: uppercase
        @extend %default
        @extend %text-orange