@use "../utils/_main" as utils

.home--cover
    display: flex
    height: 100vh
    background-image: url("../images/appareil-photo-professionnel-flou.jpg")
    background-size: cover
    background-position: center  

    @include utils.responsive (phone)
        height: 88vh   

    &__text
        display: flex
        flex-direction: column
        align-items: center
        margin-top: 15rem

        @include utils.responsive (phone)
            margin-top: 13rem
    
    &__title
        @extend %text-white
        @extend %title-1

        @include utils.responsive (phone)
            font-size: 3rem
            text-align: center

    &__paragraphe
        @extend %default
        @extend %text-white
        margin: 1rem

        @include utils.responsive (phone)
            color: black
            font-weight: 600

    &__link
        margin-top: 2rem