@use "../utils/_main" as utils

.club--about 
    @include utils.responsive (phone)
        flex-direction: column-reverse
        margin-left: 0.5rem
        margin-right: 0.5rem

        
    @include utils.responsive (tablet)
        margin-left: 0.5rem
        margin-right: 0.5rem
   

    &__text
        margin-top: 3rem
        background-color: utils.$color-greylight
        border-radius: 3rem
        display: flex
        flex-direction: column
        align-items: center
        padding: 0 4rem 2rem 4rem

        @include utils.responsive (phone)
            padding: 1rem

        @include utils.responsive (tablet)
            padding: 0 4rem 2rem 4rem
            margin-top: 5rem

    &__title
        margin-top: 2rem
        text-transform: uppercase
        @extend %text-orange
        @extend %title-4

        @include utils.responsive (phone)
            font-size: 1.6rem

        @include utils.responsive (tablet)
            font-size: 2rem

    &__paragraphe
        @extend %default
        text-align: center
        margin-top: 2rem

    &__link
        margin: 3rem auto 0