//@use "../utils/_fonts" as font/
    
@use "../utils/_main" as utils

*
    font-family: utils.$font-sans-serif
    font-size: 0.93rem
    font-weight: 400
    color: utils.$color-blackblue

.title-1
    font-family: utils.$font-sans-serif
    font-size: 3.6rem
    font-weight: 400