.button, .button--black, .button--orange, .club--marathon__text, .club--marathon__paragraphe, .club--studio__paragraphe, .club--exit__paragraphe, .club--about__paragraphe, .club--cover__paragraphe, .home--evenement__paragraphe, .home--discovery__paragraphe, .home--cover__paragraphe, .footer__where-address, .footer__where-time, .footer__contact-mail, .footer__copyright-text, .header__main-pages {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

.club--cover__title, .home--cover__title {
  font-family: "Raleway", sans-serif;
  font-size: 4.6rem;
  font-weight: 400;
}

.club--studio__title, .club--exit__title, .home--evenement__title, .home--discovery__title {
  font-family: "Raleway", sans-serif;
  font-size: 2.6rem;
  font-weight: 300;
}

.footer__follow-title, .footer__where-title, .footer__contact-title {
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
}

.club--marathon__title, .club--about__title {
  font-family: "Raleway", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
}

.footer__copyright-text {
  font-family: "Raleway", sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
}

.header__main-pages {
  color: #000;
}

.club--marathon__title, .club--studio__title, .club--exit__title, .club--about__title, .home--evenement__title, .home--discovery__title, .footer__follow-title, .footer__where-title, .footer__contact-title, .header__a:hover {
  color: #a2894d;
}

.club--cover__title, .club--cover__paragraphe, .home--cover__title, .home--cover__paragraphe {
  color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.flux {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  display: flex;
  padding: 1.4rem 0;
}
@media (425px <= width <= 768px) {
  .header {
    flex-direction: column;
    align-items: center;
  }
}
.header__logo {
  width: 20rem;
  flex-shrink: 0;
}
@media (425px <= width <= 768px) {
  .header__logo {
    height: 3rem;
  }
}
@media (425px <= width <= 768px) {
  .header__navbar {
    margin-top: 1rem;
  }
}
@media (min-width: 768px) {
  .header__navbar {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: 5.5rem;
  }
}
.header__main-pages {
  display: flex;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
  text-transform: uppercase;
}
.footer {
  background-color: #000;
  margin-top: 5rem;
}
@media (425px <= width <= 768px) {
  .footer {
    margin-top: 3rem;
  }
}
.footer__container {
  display: flex;
}
@media (425px <= width <= 768px) {
  .footer__container {
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 768px) {
  .footer__container {
    justify-content: center;
  }
}
.footer__follow {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .footer__follow {
    width: 30%;
  }
}
.footer__follow-title {
  margin-top: 2rem;
}
@media (min-width: 768px) {
  .footer__follow-title {
    margin-top: 5rem;
  }
}
.footer__follow-logo {
  margin-top: 1rem;
  width: 6%;
  height: auto;
  fill: #a2894d;
}
.footer__where {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .footer__where {
    width: 30%;
  }
}
.footer__where-title {
  margin-top: 2rem;
}
@media (min-width: 768px) {
  .footer__where-title {
    margin-top: 5rem;
  }
}
.footer__where-address {
  margin-top: 1rem;
  color: #ffffff;
}
.footer__where-time {
  margin-top: 1rem;
  color: #a2894d;
}
.footer__contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .footer__contact {
    width: 30%;
  }
}
.footer__contact-title {
  margin-top: 2rem;
}
@media (min-width: 768px) {
  .footer__contact-title {
    margin-top: 5rem;
  }
}
.footer__contact-mail {
  margin-top: 1rem;
  color: #ffffff;
}
.footer__copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__copyright-text {
  margin-top: 3rem;
  padding-bottom: 3rem;
  color: #ffffff;
}
@media (min-width: 768px) {
  .footer__copyright-text {
    margin-top: 6rem;
  }
}

.home--cover {
  display: flex;
  height: 100vh;
  background-image: url("../images/appareil-photo-professionnel-flou.jpg");
  background-size: cover;
  background-position: center;
}
@media (425px <= width <= 768px) {
  .home--cover {
    height: 88vh;
  }
}
.home--cover__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15rem;
}
@media (425px <= width <= 768px) {
  .home--cover__text {
    margin-top: 13rem;
  }
}
@media (425px <= width <= 768px) {
  .home--cover__title {
    font-size: 3rem;
    text-align: center;
  }
}
.home--cover__paragraphe {
  margin: 1rem;
}
@media (425px <= width <= 768px) {
  .home--cover__paragraphe {
    color: black;
    font-weight: 600;
  }
}
.home--cover__link {
  margin-top: 2rem;
}

.home--discovery {
  display: flex;
}
.home--discovery__container {
  background-color: rgba(207, 201, 201, 0.2156862745);
  border-radius: 3rem;
  display: flex;
  height: auto;
  margin-top: 5rem;
}
@media (425px <= width <= 768px) {
  .home--discovery__container {
    flex-direction: column-reverse;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}
@media (768px <= width <= 1200px) {
  .home--discovery__container {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}
.home--discovery__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 2rem 4rem;
}
@media (425px <= width <= 768px) {
  .home--discovery__text {
    padding: 1rem;
  }
}
.home--discovery__title {
  margin-top: 2rem;
  text-transform: uppercase;
}
@media (425px <= width <= 768px) {
  .home--discovery__title {
    font-size: 1.6rem;
  }
}
@media (768px <= width <= 1200px) {
  .home--discovery__title {
    font-size: 2rem;
  }
}
.home--discovery__paragraphe {
  text-align: justify;
  margin-top: 2rem;
}
@media (425px <= width <= 768px) {
  .home--discovery__paragraphe {
    text-align: center;
  }
}
.home--discovery__link {
  margin: 3rem auto 0;
}
.home--discovery__media {
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) {
  .home--discovery__media {
    align-items: center;
    width: 96%;
  }
}
.home--discovery__svg {
  width: 29%;
  height: auto;
}
@media (425px <= width <= 768px) {
  .home--discovery__svg {
    margin-top: 3rem;
    width: 13%;
  }
}

.home--evenement {
  display: flex;
}
.home--evenement__container {
  background-color: rgba(207, 201, 201, 0.2156862745);
  border-radius: 3rem;
  display: flex;
  height: auto;
  margin-top: 5rem;
}
@media (425px <= width <= 768px) {
  .home--evenement__container {
    flex-direction: column;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}
@media (768px <= width <= 1200px) {
  .home--evenement__container {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}
.home--evenement__media {
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) {
  .home--evenement__media {
    align-items: center;
    width: 70%;
  }
}
.home--evenement__svg {
  width: 40%;
  height: auto;
}
@media (425px <= width <= 768px) {
  .home--evenement__svg {
    margin-top: 3rem;
    width: 15%;
  }
}
.home--evenement__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 4rem 2rem 4rem;
}
@media (425px <= width <= 768px) {
  .home--evenement__text {
    padding: 1rem;
  }
}
.home--evenement__title {
  margin-top: 2rem;
  text-transform: uppercase;
}
@media (425px <= width <= 768px) {
  .home--evenement__title {
    font-size: 1.6rem;
  }
}
@media (768px <= width <= 1200px) {
  .home--evenement__title {
    font-size: 2rem;
  }
}
.home--evenement__paragraphe {
  text-align: justify;
  margin-top: 2rem;
}
@media (425px <= width <= 768px) {
  .home--evenement__paragraphe {
    text-align: center;
  }
}
.home--evenement__link {
  margin: 3rem auto 0;
}

.club--cover {
  display: flex;
  background-image: url("../images/appareil-photo-professionnel-arriere-plan-flou-ordinateur-portable.jpg");
  background-size: cover;
  background-position: center;
}
@media (425px <= width <= 768px) {
  .club--cover {
    height: 40vh;
  }
}
@media (min-width: 768px) {
  .club--cover {
    height: 100vh;
  }
}
.club--cover__text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (425px <= width <= 768px) {
  .club--cover__text {
    padding: 1rem;
    margin-top: 3rem;
  }
}
@media (min-width: 768px) {
  .club--cover__text {
    margin-top: 15rem;
  }
}
.club--cover__paragraphe {
  margin: 1rem;
}
@media (425px <= width <= 768px) {
  .club--cover__paragraphe {
    text-align: center;
  }
}

@media (425px <= width <= 768px) {
  .club--about {
    flex-direction: column-reverse;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}
@media (768px <= width <= 1200px) {
  .club--about {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}
.club--about__text {
  margin-top: 3rem;
  background-color: rgba(207, 201, 201, 0.2156862745);
  border-radius: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 4rem 2rem 4rem;
}
@media (425px <= width <= 768px) {
  .club--about__text {
    padding: 1rem;
  }
}
@media (768px <= width <= 1200px) {
  .club--about__text {
    padding: 0 4rem 2rem 4rem;
    margin-top: 5rem;
  }
}
.club--about__title {
  margin-top: 2rem;
  text-transform: uppercase;
}
@media (425px <= width <= 768px) {
  .club--about__title {
    font-size: 1.6rem;
  }
}
@media (768px <= width <= 1200px) {
  .club--about__title {
    font-size: 2rem;
  }
}
.club--about__paragraphe {
  text-align: center;
  margin-top: 2rem;
}
.club--about__link {
  margin: 3rem auto 0;
}

@media (768px <= width <= 1200px) {
  .club--exit {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}
.club--exit__container {
  display: flex;
}
@media (425px <= width <= 768px) {
  .club--exit__container {
    margin-top: 2rem;
    flex-direction: column-reverse;
  }
}
@media (min-width: 768px) {
  .club--exit__container {
    margin-top: 5rem;
    justify-content: space-evenly;
    height: auto;
  }
}
.club--exit__media {
  display: flex;
  justify-content: center;
  align-items: center;
}
.club--exit__image {
  width: 95%;
  height: auto;
  border-radius: 3rem;
}
@media (425px <= width <= 768px) {
  .club--exit__image {
    margin-top: 2rem;
    width: 80%;
  }
}
@media (768px <= width <= 1200px) {
  .club--exit__image {
    width: 70%;
  }
}
.club--exit__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (768px <= width <= 1200px) {
  .club--exit__text {
    padding-right: 5rem;
  }
}
@media (425px <= width <= 768px) {
  .club--exit__title {
    font-size: 1.8rem;
  }
}
@media (768px <= width <= 1200px) {
  .club--exit__title {
    font-size: 1.8rem;
  }
}
.club--exit__paragraphe {
  text-align: center;
  margin-top: 2rem;
  letter-spacing: 0.15rem;
}

@media (768px <= width <= 1200px) {
  .club--studio {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}
.club--studio__container {
  display: flex;
}
@media (425px <= width <= 768px) {
  .club--studio__container {
    margin-top: 2rem;
    flex-direction: column;
  }
}
@media (min-width: 768px) {
  .club--studio__container {
    margin-top: 5rem;
    justify-content: space-evenly;
    height: auto;
  }
}
.club--studio__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (768px <= width <= 1200px) {
  .club--studio__text {
    padding-left: 5rem;
  }
}
@media (425px <= width <= 768px) {
  .club--studio__title {
    font-size: 1.8rem;
  }
}
@media (768px <= width <= 1200px) {
  .club--studio__title {
    font-size: 1.8rem;
  }
}
.club--studio__paragraphe {
  text-align: center;
  margin-top: 2rem;
  letter-spacing: 0.15rem;
}
.club--studio__media {
  display: flex;
  justify-content: center;
  align-items: center;
}
.club--studio__image {
  width: 95%;
  height: auto;
  border-radius: 3rem;
}
@media (425px <= width <= 768px) {
  .club--studio__image {
    margin-top: 2rem;
    width: 80%;
  }
}
@media (768px <= width <= 1200px) {
  .club--studio__image {
    width: 79%;
  }
}

@media (425px <= width <= 768px) {
  .club--marathon {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}
@media (768px <= width <= 1200px) {
  .club--marathon {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}
.club--marathon__text {
  display: flex;
  margin-top: 5rem;
  flex-direction: column;
  align-items: center;
}
@media (425px <= width <= 768px) {
  .club--marathon__text {
    margin-top: 2rem;
    padding: 1rem;
  }
}
@media (768px <= width <= 1200px) {
  .club--marathon__text {
    padding: 0 4rem 2rem 4rem;
    margin-top: 5rem;
  }
}
.club--marathon__title {
  text-transform: uppercase;
}
@media (425px <= width <= 768px) {
  .club--marathon__title {
    font-size: 1.6rem;
  }
}
@media (768px <= width <= 1200px) {
  .club--marathon__title {
    font-size: 2rem;
  }
}
.club--marathon__paragraphe {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.evenements--calendar__img {
  width: 60%;
}

.button, .button--orange, .button--black {
  border-radius: 50px;
  padding: 1.5rem 4.5rem;
  color: #ffffff;
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
}
.button--black {
  background-color: #000;
  border: 2px solid white;
}
.button--black:hover {
  background-color: #ffffff;
  color: #000;
}
.button--orange {
  background-color: #a2894d;
  border: 2px solid black;
}
.button--orange:hover {
  background-color: #000;
  color: #a2894d;
  border: 2px solid #a2894d;
}/*# sourceMappingURL=style.css.map */